<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>GLOBE</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
   <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src= "https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@sakitam-gis/mapbox-wind/dist/mapbox-wind.js"></script>
     <script src="js/three.min.js"></script>

    <script src="js/gio.min.js"></script> -->

    <link rel="stylesheet" href="./arrange.css">
    <link rel="stylesheet" href="./animation.css">
</head>
<style>
body { margin: 0; padding: 0; height: 100vh;}
#map { position: absolute; top: -25vh;left: -20vw; width:200vw;height: 200vh;}
#page{position: absolute;width: 100vw;height:100vh;overflow: hidden;background-size: 100vw 100vh;}
#globalArea{width:200px;height: 200px;}
video{position:absolute;top:-25vh;left:-20vw;width: 200vw;height: 200vh;}
</style>
<style>
</style>
<body>
    <div id="page">
        <video  autoplay muted>
            <source src="img/google60.mp4" type="video/mp4">
        </video>
        <div id="map"></div>
    </div>
    <div id="home-overlay" class="home-overlay">
        <div class="home-overlay-inner">
            <h1><span>NUIST</span> CFS</h1>
            <h2>南京信息工程大学气候预测系统</h2>
            <div id="home-btn"><button>START</button></div>
        </div>
         <!-- <div id="globalArea"></div> -->
    </div>
</body>
</html>
<script src="./domOp.js"></script>

<script>
    bindEvents();
 // var container = document.getElementById( "map" );

 //    // create controller for the IO globe, input the container as the parameter
 //    var controller = new GIO.Controller( container );
 //    controller.setTransparentBackground( true );
 //    controller.adjustOceanBrightness( 1 );
 //    controller.setAutoRotation( true, 2 );
 //    controller.lightenMentioned(true);
 //    controller.adjustRelatedBrightness( 1 );
    // controller.setSurfaceColor(0x05445c)
    // controller.init();
</script>


